h1 {
  font-size: clamp(2rem, 2vw + 0.75rem, 3rem);
  font-weight: 900;
}

h2 {
  font-size: clamp(1rem, 2vw + 0.75rem, 2rem);
}

h3 {
  color: var(--Primary-Color);
  font-weight: 900;
  font-size: 1.5rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo,
.menulinks {
  display: inline-flex;
  align-items: center;
  gap: 25px;
}

nav ul li a {
  color: black;
}

nav ul li:last-child a {
  background-color: var(--Primary-Color);
  padding: 5px 30px;
  color: var(--White-Color);
  border-radius: var(--default-radius);
}

#hero {
  padding: 10%;
  text-align: center;
}

#callToAction p {
  margin: 30px;
}

.buttons button:first-child {
  margin-right: 20px;
}

/* KeyMetrics section */

#KeyMetrics h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--Primary-Color);
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.key-card {
  text-align: center;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: var(--White-Color);
}

.key-card:nth-child(2n + 1) {
  justify-self: end;
}

/* forCoders section */

.description h2 {
  text-align: left !important;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 50px 0;
  text-wrap: balance;
}

.list-card {
  padding: 20px;
  border-radius: var(--default-radius);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-card img {
  padding: 10px;
  width: 50px;
  height: 50px;
}

/* PoweredByCLA section */
#PoweredByCLA {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#PoweredByCLA > img {
  width: 61%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.description h3 {
  margin-bottom: 30px;
  color: black;
}

/* testimonials section */

#testimonials h2 {
  text-align: center;
  color: var(--Primary-Color);
  margin-bottom: 30px;
}

.gridx3 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.gridx3 img{
  width: 50px;
  cursor: pointer;
}

.card {
  max-width: 500px;
  text-align: center;
  padding: 40px;
  background-color: var(--White-Color);
  border-radius: var(--default-radius);
}

.card > p {
  margin-bottom: 30px;
}
.card img {
  border-radius: 100%;
  width: 20%;
}

.cardDescription {
  margin-top: 20px;
}

/* contact section */
#contact {
  border-top-left-radius: 100px;
  background-color: var(--Main-Body-Color);
  padding: 50px;
  color: var(--White-Color);
  margin-left: 10%;
}

form,
input,
label {
  display: block;
  max-width: 600px;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  font-size: 16px;
  height: auto;
  margin-bottom: 10px !important;
  outline: 1px solid var(--Primary-Color);
  padding: 15px;
  width: 100%;
  background-color: var(--White-Color);
  color: #8a97a0;
  margin-bottom: 30px;
  border-radius: var(--default-radius);
}

footer {
  height: 100px;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  section {
    min-height: 0;
    margin: 55px 0;
  }
  h1 {
    line-height: 44px;
  }

  .wrapper {
    width: 90%;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo,
  .menulinks {
    gap: 25px;
    text-wrap: nowrap;
    font-size: 15px;
    margin-bottom: 20px;
  }

  nav ul li:last-child a {
    padding: 1px 24px;
  }

  #hero {
    padding: 0%;
  }

  #callToAction p {
    margin: 30px 0;
  }

  .buttons button:first-child {
    margin-right: 13px;
  }

  .description h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    line-height: 44px;
  }

  .list {
    grid-template-columns: 1fr;
    padding-left: 0;
    margin: 30px 0;
  }
  .list-card {
    padding-left: 0;
  }
  .list-card img {
    width: auto;
    height: auto;
  }

  #PoweredByCLA {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #PoweredByCLA > img {
    border-radius: 10%;
  }
  .description {
    text-align: center;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .wrapper {
    gap: 20px;
    margin: 50px auto;
    width: 95%;
    max-width: 91%;
  }

  .menulinks {
    flex-direction: column;
    margin-top: 20px;
    gap: 30px;
  }
  .card {
    padding: 24px;
  }
  .list-card img {
    align-self: baseline;
  }
  .buttons button:first-child {
    margin: auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 320px) {
  h2 {
    font-size: 2rem;
  }

  header {
    flex-direction: column;
  }
  #hero {
    margin: 20px 0;
  }

  .key-card {
    padding: 7px;
  }

  #contact {
    margin-left: 0;
    padding: 36px;
  }
}
